.container {
    position: relative;
    width: 100%;
    height: 223px;
    border-radius: 25px;
}

.header {
    width: 100%;
    height: 223px;
    border-radius: 25px;
    object-fit: cover; 
    filter: brightness(70%);
}

.slogan {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0px;
    justify-content: center;
    align-items: center;
    height: 223px;
    color: #FFFFFF;
    font-size: 48px;
    line-height: 143%;
    z-index: 2;
    margin: 0;
}

.locationBackGround {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 60px;
    margin-top: 43px;
    background-color: #F6F6F6;
    padding: 56px;
    border-radius: 25px;
}

.articleContainer {
    display: flex;
    align-items: flex-end;
    aspect-ratio: 1 / 1;
    margin-bottom: 50px;
    border-radius: 10px;
    background: linear-gradient(var(--primary-color) 0%, rgb(125, 73, 73) 100%) ;
}

.title {
    margin: 20px;
    color: #FFFFFF;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
}


@media only screen and (min-width: 425px) and (max-width: 1023px) {
    .container {
        height: auto;
    }

    .locationBackGround {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        background-color: #FFFFFF;
        margin-top: 22px;
        padding: 0;
        border-radius: 0;
    }

    .articleContainer {
        margin-bottom: 0;
    }

    .slogan {
        font-size: 36px;
        justify-content: flex-start;
        padding-left: 5%;
    }
}

@media only screen and (max-width: 425px) {
    .container {
        height: auto;
    }

    .header {
        height: 111px;
        border-radius: 10px;
    }

    .locationBackGround {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
        background-color: #FFFFFF;
        margin-top: 22px;
        padding: 0;
        border-radius: 0;
    }

    .articleContainer {
        margin-bottom: 20px;
    }

    .slogan {
        font-size: 24px;
        justify-content: flex-start;
        padding-left: 16px;
        height: 111px;
    }

    .articleContainer {
        height: 255px;
        aspect-ratio: auto;
    }
}