
.flexRow {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

.logoContainer {
    flex: 1;
}

.nav {
    text-align: end;
    flex: 1;
    font-size: 24px;
    font-weight: 500;
}

.navHome {
    margin-right: 57px;
    color: var(--primary-color);
}

.navProposed {
    color: var(--primary-color);
    white-space: nowrap;
}

footer {
    display: block;
    height: 210px;
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    margin-left: -100px;
    margin-right: -100px;
}

.footerLogo {
    padding-top: 66px;
    padding-bottom: 32px;
    height: 36px;
    width: auto;
    display: inline-block;
}

footer svg path {
    fill: #FFFFFF;
}

@media only screen and (max-width: 768px) {
    .logo {
        display: inline-block;
        height: 43px;
        width: auto;
        margin: 0;
    }

    .nav {
        font-size: 12px;
        text-transform: uppercase;
    }

    .navHome {
        margin-right: 10px;
    }

    footer {
        margin-left: -40px;
        margin-right: -40px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 375px) {
    footer {
        margin-left: -20px;
        margin-right: -20px;
    }
}

@media only screen and (max-width: 320px) {
    .logo {
        height: 30px;
    }
}