
.flexRow {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

.logoContainer {
    flex: 1;
}

.nav {
    text-align: end;
    flex: 1;
    font-size: 24px;
    font-weight: 500;
}

.navHome {
    margin-right: 57px;
    color: var(--primary-color);
}

.navProposed {
    color: var(--primary-color);
    white-space: nowrap;
}

footer {
    height: 210px;
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
}

.footerLogo {
    padding-top: 66px;
    padding-bottom: 32px;
}

@media only screen and (max-width: 375px) {
    .logo {
        display: inline-block;
        height: 43px;
        width: 150px;
        margin: 0;
    }

    .nav {
        font-size: 12px;
        text-transform: uppercase;
    }

    .navHome {
        margin-right: 10px;
    }
  }