.header {
    width: 100%;
    height: 223px;
    border-radius: 25px;
    object-fit: cover; 
    filter: brightness(70%);
    margin-bottom: 33px;
}

.icon {
    width: 30px;
    height: 22px;
    margin-right: 2rem;
    margin-top: -1rem;
}
.dropdown {
    display: flex;
    flex-direction: column;
}
.flexRow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 47px;
    border-radius: 5px;
    background-color: var(--primary-color);
    margin: auto;
    margin-bottom: 30px;
    z-index: 2;
}
h1 {
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    margin-left: 1rem;
}

.dropdownContent {
    width: 81.5%;
    height: auto;
    background-color: #F6F6F6;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 400;
    color: var(--primary-color);
    padding: 36px 27px 19px 18px;
    margin: auto;
    margin-top: -32px;
    margin-bottom: 30px;
    z-index: 1;
}